.navbar-container {
  position: center;

}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

.main-content {
  padding-left: 30px;
}

.footer-content {
  bottom: 0;
  position: absolute;

}
